/* ---------------header--------------- */
nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
nav a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}


header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-menu {
  max-width: 1000px;
  height: 50px;
  font-family: 'Corben', cursive, sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.cat1 {
  width: 100%;
  height: 100%;
  background-image: url(..//img/about-cat1.jpg);
  background-position: center;
  background-size: cover;
}

.cat2 {
  width: 100%;
  height: 100%;
  background-image: url(..//img/about-cat2.jpg);
  background-position: center;
  background-size: cover;
}

.cat3 {
  width: 100%;
  height: 100%;
  background-image: url(..//img/about-cat3.jpg);
  background-position: center;
  background-size: cover;
}

.cat1 .anime-wrapper{
  padding-top: 15%;
  padding-left: 8%;
}

.cat2 .anime-wrapper{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 25%;
  padding-right: 8%;
}

.cat3 .anime-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 4%;
}

.animation {
  font-family :YuMincho,'Yu Mincho',serif;
  font-size: 6vh;
  margin-bottom: 6vh;
  transition: all .25s ease;
}
.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.swiper-slide-active .anime1 {
  animation: slide 1.0s ease 0s 1 normal;
}
.swiper-slide-active .anime2 {
  animation: slide 1.5s ease 0s 1 normal;
}
.swiper-slide-active .anime3 {
  animation: slide 2.0s ease 0s 1 normal;
}
.swiper-slide-active .anime4 {
  animation: slide 2.5s ease 0s 1 normal;
}
.swiper-slide-active .anime5 {
  animation: slide 3.0s ease 0s 1 normal;
}

@keyframes slide {
  0%, 65% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.info-wrapper {
  max-width: 1200px;
  height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 auto;
}

.info-wrapper li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info1 a,.info3 a {
  width: 250px;
  height: 120px;
  color: #fff;
  font-family: 'Corben', cursive, sans-serif;
  background: #000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26vh;
}

.info1  a:hover,.info3 a:hover {
  border: 2px #000 solid;
  background: rgb(255, 208, 120);
  color: #000;
  opacity: 0.7;
}

.info-wrapper p {
  font-size: 20px;
  letter-spacing: 2px;
}

.info-wrapper a:last-child {
  margin-bottom: 0;
}

.info2 img {
  width: 230px;
  height: auto;
}

.info2 div {
  margin-left: 5vw;
  margin-bottom: 30px;
}

.info2 h1 {
  height: auto;
  font-family: 'Corben', cursive, sans-serif;
  font-size: 55px;
  letter-spacing: 5px;
  line-height: 1.3em;
}

.info2 h1 {
  transition: all .2s ease-in-out;
}
.info2 h1:hover {
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}