body{
  font-family :YuMincho,'Yu Mincho',serif;
}

header {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-menu {
  max-width: 1000px;
  height: 50px;
  font-family: 'Corben', cursive, sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  height: auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 110px;
}

main h1 {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

.main-wrapper {
  width: 100%;
  height: 120vh;
  position: relative;
  margin-bottom: 210px;
}

.phot {
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.phot img {
  width: 100%;
  height: auto;
}

.slidein {
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateX(-600px);
}
.action {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.phot-text {
  max-width: 50vw;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  line-height: 60px;
  position: absolute;
  top: 25vw;
  right: 5%;
  padding: 10% 5%;
  z-index: 3;
}

.animation {
	opacity : 0;
	visibility: hidden;
	transition: 0.5s;
	transform: translateY(20px);
}
.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.phot-text {
	-moz-transition-delay:1200ms;
	-webkit-transition-delay:1200ms;
	-o-transition-delay:1200ms;
	-ms-transition-delay:1200ms;
	}

.phot-bg img {
  width: 60vw;
  height: 50vw;
}

.phot-bg {
  width: 60vw;
  height: auto;
  position: absolute;
  top: 20vw;
  right: 0;
  z-index: 1;
}

.slide-right {
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateX(600px);
}
.action2 {
  opacity: 0.8;
	visibility: visible;
	transform: translateX(0);
}

.phot-bg {
	-moz-transition-delay:600ms;
	-webkit-transition-delay:600ms;
	-o-transition-delay:600ms;
	-ms-transition-delay:600ms;
	}

main h2 {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 100px 0;
}

.tail-wapper {
  width: 100%;
}

.tail-wapper h2 {
  width: 100%;
  border-top: #666 dotted 5px;
}

.tail-inner {
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 5%;
}

.tail-inner li {
  height: 100%;
  padding: 0 10%;
  margin-bottom: 5%;
  text-align: center;
}

.tail-inner img {
  width: 100%;
  max-height: 300px;
}

.tail-txt {
  width: 100%;
  height: auto;
  font-size: 22px;
  padding: 10% 0;
}

.touch-wrapper {
  width: 100%;
}

.touch-wrapper h2{
  width: 100%;
  border-top: #666 dotted 5px;
  margin-top: 60px;
}

.touch-inner {
  width: 685px;
  height: 722px;
  background-image: url(..//img/retsfeeling.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.a-head {
  width: 181px;
  height: 195px;
  cursor: pointer;
  position: absolute;
  top: 155px;
  left: 0;
}

.a-breast-top {
  width: 209px;
  height: 223px;
  cursor: pointer;
  position: absolute;
  top: 203px;
  left: 181px;
}

.a-breast-side {
  width: 245px;
  height: 160px;
  cursor: pointer;
  position: absolute;
  top: 350px;
  left: 43px;
}

.a-hand {
  width: 248px;
  height: 210px;
  cursor: pointer;
  position: absolute;
  left: 63px;
  bottom: 0;
}

.a-belly {
  width: 134px;
  height: 84px;
  cursor: pointer;
  position: absolute;
  left: 288px;
  bottom: 213px;
}

.a-leg {
  width: 268px;
  height: 191px;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 0;
}

.a-hip {
  width: 218px;
  height: 177px;
  cursor: pointer;
  position: absolute;
  bottom: 218px;
  right: 44px;
}

.a-tailon {
  width: 179px;
  height: 120px;
  cursor: pointer;
  position: absolute;
  top: 210px;
  right: 107px;
}

.a-tail {
  width: 80px;
  height: 314px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 33px;
}

/* モーダル */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 400px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modaltext {
  font-size: 25px;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}